@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext');html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;font-weight:normal}b,strong{font-weight:bold}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{background:#272727;font-family:'PT Sans Narrow',sans-serif;color:#FFF}body *{font-family:'PT Sans Narrow',sans-serif;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body *:focus{outline:none}body img{max-width:100%}.color_green{color:#6a8429 !important}.center{width:100%;max-width:1200px;margin:0 auto;padding:0 15px}@media screen and (max-width:1240px) and (min-width:768px){.center{width:738px}}@media screen and (max-width:767px){.center{width:320px}}.bold{font-weight:700}.wrap{width:100%;overflow-x:hidden}h1{font-size:72px;line-height:76px;color:#FFF;font-weight:700;text-transform:uppercase;margin-bottom:41px}@media screen and (max-width:1240px) and (min-width:768px){h1{font-size:60px;line-height:66px}}@media screen and (max-width:767px){h1{font-size:42px;line-height:50px;margin-bottom:20px}}.header{margin-bottom:50px}@media screen and (max-width:767px){.header.header_with_logo{padding-bottom:200px}}.header .center{position:relative}.header .logo{margin-top:14px;float:left;display:block;width:77px}.header .logo img{display:block;width:100%}@media screen and (max-width:1240px) and (min-width:768px){.header .logo{float:none;width:103px;position:absolute;left:50%;-webkit-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);top:0}}@media screen and (max-width:767px){.header .logo{float:none;width:155px;position:absolute;left:50%;-webkit-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);top:110px}}.header .header_img{float:right;margin-right:45px}.header .header_img img{display:block;width:100%}@media screen and (max-width:1240px) and (min-width:768px){.header .header_img{width:280px;margin-right:315px}}@media screen and (max-width:1240px) and (min-width:768px){.header .header_img.header_with_logo{width:280px;margin-right:0;float:left;margin-left:-110px}}@media screen and (max-width:767px){.header .header_img{float:left;width:215px;margin-right:0;margin-left:-70px}}.header .nav{float:right;white-space:nowrap;padding-top:49px}.header .nav li{display:inline-block;margin-right:31px}.header .nav li:last-child{margin-right:0}.header .nav li a{color:#FFF;font-weight:700;text-transform:uppercase;font-size:21px;text-decoration:none;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.header .nav li a:hover{color:#6a8429}.header .nav li.active a{color:#6a8429}@media screen and (max-width:1240px){.header .nav{display:none}}.mobile_nav{display:none;position:fixed;z-index:11;left:0;top:0;width:100%;height:100%;background:#272727;overflow-y:scroll}.mobile_nav__open{margin-top:45px;display:none;width:24px;height:23px;cursor:pointer;float:right;background:url(../images/nav_open.png) no-repeat top center}@media screen and (max-width:1240px){.mobile_nav__open{display:block}}@media screen and (max-width:767px){.mobile_nav__open{margin-top:30px}}.mobile_nav .table{display:table;position:absolute;left:0;top:0;width:100%;height:100%;padding:50px 0}.mobile_nav .table-cell{display:table-cell;vertical-align:middle}.mobile_nav .close{width:20px;height:20px;background:url(../images/nav_close.png) no-repeat top center;position:absolute;right:30px;top:30px;cursor:pointer;-moz-opacity:.7;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70);-webkit-transition:all .2 ease-out;-moz-transition:all .2 ease-out;-o-transition:all .2 ease-out;transition:all .2 ease-out}.mobile_nav .close:hover{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100)}.mobile_nav ul li{text-align:center;margin-bottom:27px}.mobile_nav ul li:last-child{margin-bottom:0}.mobile_nav ul li a{color:#FFF;font-size:21px;text-transform:uppercase;font-weight:700;text-decoration:none;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.mobile_nav ul li a:hover{color:#6a8429}.mobile_nav ul li.active a{color:#6a8429}.footer__top .block .title{color:#FFF;font-weight:700;font-size:45px;line-height:48px;text-transform:uppercase;width:530px;margin-left:100px;margin-bottom:-25px;position:relative;z-index:2}@media screen and (max-width:1240px) and (min-width:768px){.footer__top .block .title{width:455px;margin-left:60px;font-size:42px;margin-bottom:-19px}}@media screen and (max-width:767px){.footer__top .block .title{width:100%;margin-left:0;font-size:42px;margin-bottom:-19px}}.footer__top .block figure{position:relative;z-index:1;margin-bottom:-33px}@media screen and (max-width:1240px) and (min-width:768px){.footer__top .block figure{margin-bottom:-18px}}@media screen and (max-width:767px){.footer__top .block figure{margin-bottom:-18px}}.footer__top .block figure img{display:block;width:100%;z-index:0}.footer__top .block figure .label{right:250px;top:60px;letter-spacing:-0.5px;position:absolute;z-index:1;padding:13px 22px 11px 40px;color:#FFF;font-size:21px;line-height:26px;font-weight:700;text-transform:uppercase;background:#932831;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}.footer__top .block figure .label:before{content:'';display:block;width:16px;height:10px;position:absolute;left:15px;top:50%;-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-o-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);background:url(../images/arrow_down.png) no-repeat top center}@media screen and (max-width:1240px) and (min-width:768px){.footer__top .block figure .label{right:-30px;top:75px}}@media screen and (max-width:767px){.footer__top .block figure .label{display:none}}.footer__top .block .info{position:relative;z-index:2;margin-left:500px}@media screen and (max-width:1240px) and (min-width:768px){.footer__top .block .info{margin-left:310px}}@media screen and (max-width:767px){.footer__top .block .info{margin-left:0}}.footer__top .block .info *{color:#6a8429}.footer__top .block .info .top{font-size:90px;line-height:90px;font-weight:700;text-transform:uppercase;display:block;margin-bottom:0}@media screen and (max-width:1240px) and (min-width:768px){.footer__top .block .info .top{font-size:51px;line-height:51px}}@media screen and (max-width:767px){.footer__top .block .info .top{font-size:51px;line-height:51px;margin-bottom:5px}}.footer__top .block .info .bottom{font-size:21px;line-height:24px;font-weight:700;text-transform:uppercase;display:block;position:relative}.footer__top .block .info .bottom:before{content:'';display:block;width:68px;height:4px;background:#6a8429;position:absolute;left:-94px;top:50%;-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-o-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}@media screen and (max-width:1240px) and (min-width:768px){.footer__top .block .info .bottom:before{width:42px;left:-63px}}@media screen and (max-width:767px){.footer__top .block .info .bottom:before{display:none}}.footer__bottom{line-height:30px;padding:62px 0 50px 0}@media screen and (max-width:767px){.footer__bottom{padding:30px 0 40px 0}}.footer__bottom br{display:none}.footer__bottom *{color:#ababab;font-size:18px}.footer__bottom a{text-decoration:none}.footer__bottom a:hover{text-decoration:underline}@media screen and (max-width:767px){.footer__bottom br{display:block}.footer__bottom .left{float:none;margin-bottom:30px}.footer__bottom .right{float:none}}.home .welcome{margin-top:-50px;margin-bottom:100px}@media screen and (max-width:767px){.home .welcome{margin-top:0;margin-bottom:70px}}.home .welcome .center{max-width:1060px;margin:0 auto;display:table}@media screen and (max-width:767px){.home .welcome .center{display:block;text-align:center}}.home .welcome figure{display:table-cell;vertical-align:middle;padding-left:15px}@media screen and (max-width:1240px) and (min-width:768px){.home .welcome figure{padding-left:0;vertical-align:top}.home .welcome figure img{display:inline-block;width:228px}}@media screen and (max-width:767px){.home .welcome figure{display:block;padding-left:0;margin-bottom:40px}.home .welcome figure img{width:155px;display:inline-block}}.home .welcome article{display:table-cell;vertical-align:middle;width:600px}.home .welcome article .descr{font-size:21px;line-height:30px;color:#ababab}@media screen and (max-width:767px){.home .welcome article .descr{text-align:left;font-size:18px}}@media screen and (max-width:1240px) and (min-width:768px){.home .welcome article{padding-left:0;vertical-align:top;width:414px}}@media screen and (max-width:767px){.home .event .center{padding:0}}.home .event .block{height:560px;margin:0 auto;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative}@media screen and (max-width:1240px) and (min-width:768px){.home .event .block{height:345px}}@media screen and (max-width:767px){.home .event .block{height:155px}}.home .event .block .label{left:330px;top:-75px;letter-spacing:-0.5px;position:absolute;z-index:1;padding:13px 22px 11px 40px;color:#FFF;font-size:21px;line-height:26px;font-weight:700;text-transform:uppercase;background:#932831;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}.home .event .block .label:before{content:'';display:block;width:16px;height:10px;position:absolute;left:15px;top:50%;-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-o-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);background:url(../images/arrow_down.png) no-repeat top center}@media screen and (max-width:1240px) and (min-width:768px){.home .event .block .label{left:155px;top:-80px}}@media screen and (max-width:767px){.home .event .block .label{display:none}}.home .event .block .date{position:absolute;z-index:2;left:495px;bottom:-80px}@media screen and (max-width:1240px) and (min-width:768px){.home .event .block .date{left:310px;bottom:-58px}}@media screen and (max-width:767px){.home .event .block .date{left:25px;bottom:-58px}}.home .event .block .date *{color:#6a8429}.home .event .block .date__top{font-size:90px;line-height:90px;font-weight:700;text-transform:uppercase;display:block;margin-bottom:0}@media screen and (max-width:1240px) and (min-width:768px){.home .event .block .date__top{font-size:51px;line-height:51px}}@media screen and (max-width:767px){.home .event .block .date__top{font-size:51px;line-height:51px;margin-bottom:5px}}.home .event .block .date__bottom{font-size:21px;line-height:24px;font-weight:700;text-transform:uppercase;display:block;position:relative}.home .event .block .date__bottom:before{content:'';display:block;width:68px;height:4px;background:#6a8429;position:absolute;left:-94px;top:50%;-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-o-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%)}@media screen and (max-width:1240px) and (min-width:768px){.home .event .block .date__bottom:before{width:42px;left:-63px}}@media screen and (max-width:767px){.home .event .block .date__bottom:before{display:none}}.home .event .title{position:relative;background:#FFF;width:360px;padding:40px 45px 40px 45px;margin:-150px 0 0 55px}.home .event .title span{display:block;font-size:36px;line-height:39px;color:#272727;font-weight:700;text-transform:uppercase;margin-bottom:60px}@media screen and (max-width:1240px) and (min-width:768px){.home .event .title span{margin-bottom:36px}}.home .event .title a{color:#284e75;font-size:21px;font-weight:700;text-transform:uppercase;text-decoration:none;-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.home .event .title a:hover{-moz-opacity:.7;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70)}@media screen and (max-width:1240px) and (min-width:768px){.home .event .title{width:100%;margin:0;padding:93px 62px 50px 62px}}@media screen and (max-width:767px){.home .event .title{width:100%;margin:0;padding:93px 30px 40px 30px}}.home .menu{margin-top:-41px;margin-bottom:100px}@media screen and (max-width:1240px) and (min-width:768px){.home .menu{margin-top:80px}.home .menu .center{width:630px;margin:0 auto}}@media screen and (max-width:767px){.home .menu{margin-top:60px}}.home .menu .menu_more_btn{position:absolute;left:0;bottom:14px;background:#284e75;font-size:21px;font-weight:700;text-transform:uppercase;padding:14px 28px 15px 28px;color:#FFF;text-decoration:none;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.home .menu .menu_more_btn:hover{background:#183552}@media screen and (max-width:767px){.home .menu .menu_more_btn{position:relative;bottom:0;display:inline-block;margin-top:50px}}.home .menu .title{font-size:46px;line-height:48px;font-weight:700;color:#FFF;text-transform:uppercase;width:470px;margin-left:500px;margin-bottom:80px}@media screen and (max-width:1240px){.home .menu .title{margin-left:0;font-size:42px;margin-bottom:42px}}@media screen and (max-width:767px){.home .menu .title{width:170px}}.home .menu .item{position:relative;float:left;width:270px;margin-right:130px}.home .menu .item__list{margin-left:100px}@media screen and (max-width:1240px){.home .menu .item__list{margin-left:0}}.home .menu .item:last-child{margin-right:0}@media screen and (max-width:1240px) and (min-width:768px){.home .menu .item{width:228px;margin-right:144px}.home .menu .item:first-child{display:none}}@media screen and (max-width:767px){.home .menu .item{float:none;width:100%;margin-right:0;margin-bottom:30px}}.home .menu .item__title{margin-bottom:30px}@media screen and (max-width:1240px) and (min-width:768px){.home .menu .item__title{margin-bottom:17px}}.home .menu .item__title span{float:left;font-size:36px;line-height:38px;font-weight:700;color:#FFF;text-transform:uppercase}@media screen and (max-width:1240px) and (min-width:768px){.home .menu .item__title span{font-size:30px}}.home .menu .item__title b{float:right;color:#6a8429;font-size:21px;line-height:23px;font-weight:400;padding-top:13px}@media screen and (max-width:1240px){.home .menu .item__title b{font-size:18px}}.home .menu .item__descr{color:#ababab;font-size:21px;line-height:30px;margin-bottom:20px}@media screen and (max-width:1240px){.home .menu .item__descr{font-size:18px;line-height:30px}}.home .menu .item ul{display:table;width:100%;margin-bottom:0}.home .menu .item ul li{display:table-cell;vertical-align:top}.home .menu .item ul li:first-child{color:#ababab;font-size:21px;line-height:42px}@media screen and (max-width:1240px){.home .menu .item ul li:first-child{font-size:18px;line-height:39px}}.home .menu .item ul li:last-child{text-align:right;font-size:21px;line-height:42px}@media screen and (max-width:1240px){.home .menu .item ul li:last-child{font-size:18px;line-height:39px}}.home .menu .item ul li:last-child span{color:#FFF}.home .menu .item ul li:last-child b{display:inline-block;margin-right:10px;color:#6a8429;font-weight:400}.home .story{padding-bottom:108px}@media screen and (max-width:767px){.home .story .center{padding:0}}@media screen and (max-width:1240px) and (min-width:768px){.home .story{padding-bottom:80px}}.home .story .block{width:360px;margin:0 auto;background:#6a8429;color:#FFF;padding:36px 45px 47px 45px;position:relative}@media screen and (max-width:1240px) and (min-width:768px){.home .story .block{width:300px;padding:40px 30px 47px 30px}}@media screen and (max-width:767px){.home .story .block{width:100%;padding:30px 30px 560px 30px;margin-top:450px}}.home .story .block .title{font-size:45px;line-height:48px;text-transform:uppercase;font-weight:700;margin-bottom:48px}@media screen and (max-width:1240px){.home .story .block .title{font-size:42px;margin-bottom:33px}}.home .story .block .descr{font-size:21px;line-height:30px;margin-bottom:45px}@media screen and (max-width:1240px){.home .story .block .descr{font-size:18px;line-height:24px;margin-bottom:36px}}.home .story .block .more{font-size:21px;text-transform:uppercase;font-weight:700;color:#FFF;text-decoration:none;-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.home .story .block .more:hover{-moz-opacity:.7;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70)}.home .story .block:before{content:'';display:block;width:426px;height:801px;position:absolute;right:100%;bottom:150px;background:url(../images/story_branch.png) no-repeat top center}@media screen and (max-width:1240px) and (min-width:768px){.home .story .block:before{width:225px;height:423px;right:100%;top:-4px;bottom:auto;background-image:url(../images/story_branch.png);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}}@media screen and (max-width:767px){.home .story .block:before{width:225px;height:423px;right:0;top:-400px;bottom:auto;background-image:url(../images/story_branch.png);background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}}.home .story .block:after{content:'';display:block;width:383px;height:903px;position:absolute;right:-340px;bottom:-227px;background:url(../images/story_hero_large.png) no-repeat top center}@media screen and (max-width:1240px) and (min-width:768px){.home .story .block:after{width:230px;height:611px;right:-230px;bottom:-40px;background:url(../images/story_hero_tablet.png) no-repeat top center}}@media screen and (max-width:767px){.home .story .block:after{width:290px;height:574px;left:0;right:auto;bottom:-50px;background:url(../images/story_hero_phone.png) no-repeat top center}}.concerts .item{text-decoration:none;display:block;float:left;width:570px;margin-right:30px;margin-bottom:110px}@media screen and (max-width:1240px) and (min-width:768px){.concerts .item{width:344px;margin-right:20px;margin-bottom:55px}}@media screen and (max-width:767px){.concerts .item{width:100%;float:none;margin-right:0;margin-bottom:55px}}.concerts .item:nth-child(2n){margin-right:0}.concerts .item .date{margin-left:100px;margin-bottom:59px;position:relative}@media screen and (max-width:1240px) and (min-width:768px){.concerts .item .date{margin-left:64px;margin-bottom:20px}}@media screen and (max-width:767px){.concerts .item .date{margin-left:0;margin-bottom:20px}}.concerts .item .date__top{font-size:21px;line-height:23px;font-weight:700;text-transform:uppercase;color:#6a8429}.concerts .item .date__top span{color:#FFF;font-weight:700}.concerts .item .date__bottom{font-size:72px;line-height:72px;font-weight:700;text-transform:uppercase;color:#6a8429}@media screen and (max-width:1240px){.concerts .item .date__bottom{font-size:51px;line-height:51px}}.concerts .item .date:before{content:'';display:block;width:4px;height:68px;position:absolute;left:5px;bottom:-80px;background:#6a8429}@media screen and (max-width:1240px){.concerts .item .date:before{height:30px;bottom:-30px;left:25px}}.concerts .item figure{display:block;height:272px;margin-bottom:25px;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}@media screen and (max-width:1240px){.concerts .item figure{height:170px;margin-bottom:14px}}.concerts .item .title{font-size:36px;color:#FFF;font-weight:700;margin-left:100px}@media screen and (max-width:1240px) and (min-width:768px){.concerts .item .title{margin-left:64px}}@media screen and (max-width:767px){.concerts .item .title{margin-left:0}}.gallery .item{text-decoration:none;float:left;width:370px;margin-right:30px;margin-bottom:60px}.gallery .item__list{padding-bottom:40px}.gallery .item:nth-child(3n){margin-right:0}@media screen and (max-width:1240px) and (min-width:768px){.gallery .item{width:344px;margin-right:20px}.gallery .item:nth-child(3n){margin-right:20px}.gallery .item:nth-child(2n){margin-right:0}}@media screen and (max-width:767px){.gallery .item{float:none;width:100%;margin-right:0}}.gallery .item figure{display:block;height:250px;margin-bottom:22px;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:url(resources.svg#desaturate);filter:gray;-webkit-filter:grayscale(1)}@media screen and (max-width:1240px) and (min-width:768px){.gallery .item figure{height:234px}}@media screen and (max-width:767px){.gallery .item figure{height:213px}}.gallery .item figure:hover{filter:grayscale(0);-moz-filter:grayscale(0);-ms-filter:grayscale(0);-o-filter:grayscale(0);-webkit-filter:grayscale(0)}.gallery .item .bottom{position:relative;margin-left:100px}@media screen and (max-width:1240px){.gallery .item .bottom{margin-left:60px}}.gallery .item .bottom span{display:block;color:#FFF;font-size:36px;line-height:39px;font-weight:700;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.gallery .item .bottom b{display:block;color:#6a8429;font-size:36px;line-height:39px;font-weight:700}.gallery .item .bottom:before{content:'';display:block;width:68px;height:4px;position:absolute;left:-100px;top:22px;background:#6a8429}@media screen and (max-width:1240px){.gallery .item .bottom:before{width:30px;left:-60px}}.photos{display:none}.photos.act{display:block}.photos .grid-item{width:33%;padding:10px}@media screen and (max-width:1240px) and (min-width:768px){.photos .grid-item{width:50%}}@media screen and (max-width:767px){.photos .grid-item{width:100%}}.photos .grid-item a{display:block;width:100%}.photos .grid-item a img{display:block;width:100%}.photos .back{padding:50px 0;text-align:right}@media screen and (max-width:1240px){.photos .back{padding:20px 0}}.photos .back a{dipslay:inline-block;cursor:pointer;color:#FFF;text-decoration:none;font-size:36px;line-height:39px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100)}.photos .back a:hover{-moz-opacity:.7;-khtml-opacity:.7;-webkit-opacity:.7;opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);filter:alpha(opacity=70)}@media screen and (max-width:1240px){.photos .back a{font-size:30px;line-height:34px}}.contacts h1{text-align:center}.contacts .block{position:relative;z-index:2;padding-bottom:26px}@media screen and (max-width:767px){.contacts .block{padding-bottom:240px}}.contacts .block .img{position:absolute;right:45px;bottom:0}@media screen and (max-width:1240px) and (min-width:768px){.contacts .block .img{right:auto;left:355px}}@media screen and (max-width:767px){.contacts .block .img{right:auto;left:0;width:100%}}.contacts .block:before{content:'';display:block;width:4px;height:68px;position:absolute;left:100px;bottom:-30px;background:#6a8429}.contacts .text{width:370px;margin-left:100px}@media screen and (max-width:1240px) and (min-width:768px){.contacts .text{margin-left:60px}}@media screen and (max-width:767px){.contacts .text{margin-left:0;width:100%}}.contacts .text .text_1{font-size:36px;line-height:39px;color:#ababab;margin-bottom:54px;font-weight:700}@media screen and (max-width:767px){.contacts .text .text_1{font-size:30px;line-height:36px}}.contacts .text .text_2{font-size:72px;line-height:72px;color:#FFF;margin-bottom:32px;text-transform:uppercase;font-weight:700;letter-spacing:-0.5px}@media screen and (max-width:767px){.contacts .text .text_2{font-size:51px;line-height:51px}}.contacts .text .title{font-size:21px;margin-bottom:5px;color:#6a8429;text-transform:uppercase}.contacts .text .descr{font-size:21px;line-height:30px;margin-bottom:34px;color:#FFF}@media screen and (max-width:1240px) and (min-width:768px){.contacts .text .descr{max-width:235px}}.contacts .map__wrapper{position:relative}.contacts .map__wrapper .center{position:relative}@media screen and (max-width:1240px){.contacts .map__wrapper .center{width:100%;padding:0}}.contacts .map__wrapper #map{position:relative;z-index:1;width:100%;height:560px}@media screen and (max-width:1240px) and (min-width:768px){.contacts .map__wrapper #map{height:400px}}@media screen and (max-width:767px){.contacts .map__wrapper #map{height:300px}}.contacts .map__wrapper .label{right:110px;top:10px;letter-spacing:-0.5px;position:absolute;z-index:2;padding:13px 22px 11px 40px;color:#FFF;font-size:21px;line-height:26px;font-weight:700;text-transform:uppercase;background:#932831;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}.contacts .map__wrapper .label:before{content:'';display:block;width:16px;height:10px;position:absolute;left:15px;top:50%;-webkit-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-o-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);background:url(../images/arrow_down.png) no-repeat top center}@media screen and (max-width:1240px){.contacts .map__wrapper .label{display:none}}.about{margin-bottom:100px}@media screen and (max-width:767px){.about{margin-bottom:50px}}.about .text{position:relative;color:#ababab;font-size:21px;line-height:36px;max-width:770px;margin:0 auto}@media screen and (max-width:767px){.about .text{font-size:18px;line-height:24px}}.about .text .about__rocket_1{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;position:absolute;left:-200px;bottom:-230px}.about .text .about__rocket_2{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;position:absolute;right:-200px;top:0}.about .text .about__rocket_3{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;position:absolute;right:-200px;top:-30px}@media screen and (max-width:1240px){.about .text .about__rocket_1,.about .text .about__rocket_2,.about .text .about__rocket_3{display:none}}@media screen and (max-width:1240px) and (min-width:768px){.about .text{max-width:600px}}.about figure{display:block;padding:50px 0;text-align:center}@media screen and (max-width:1240px) and (min-width:768px){.about figure{max-width:600px;margin:0 auto}}@media screen and (max-width:767px){.about figure{padding:25px 0}}.about figure img{display:inline-block;max-width:100%}.menu_page{margin-bottom:100px}@media screen and (max-width:767px){.menu_page{margin-bottom:50px}}.menu_page__nav{margin-bottom:50px;text-align:center}.menu_page__nav div{cursor:pointer;display:inline-block;font-size:24px;line-height:26px;text-transform:uppercase;font-weight:700;margin-right:60px;color:#6a8429}@media screen and (max-width:767px){.menu_page__nav div{margin-right:20px}}.menu_page__nav div:last-child{margin-right:0}.menu_page__nav div.act{color:#FFF}.menu_page__nav div img{display:inline-block;margin-left:5px;filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:url(resources.svg#desaturate);filter:gray;-webkit-filter:grayscale(1)}.menu_page__nav div.act img{filter:grayscale(0);-moz-filter:grayscale(0);-ms-filter:grayscale(0);-o-filter:grayscale(0);-webkit-filter:grayscale(0)}.menu_page__content img{display:block;width:100%;margin-bottom:30px}.menu_page__content article{display:none}.menu_page__content article.act{display:block}.hookah{margin-bottom:100px}@media screen and (max-width:767px){.hookah{margin-bottom:50px}}.hookah__content img{display:block;width:100%;margin-bottom:30px}.hookah__content img:last-child{margin-bottom:0}.photopage_admin_img_thumb{display:block;width:50px}.pr{position:relative}.tac{text-align:center}.tal{text-align:left}.tar{text-align:right}.left{float:left}.right{float:right}.clear{clear:both}.clearfix:after{content:'';display:block;clear:both}.back_to_top{cursor:pointer;display:none;width:50px;height:50px;position:fixed;z-index:10;right:20px;bottom:20px;background:#314d72}.back_to_top svg{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:30px;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.back_to_top:hover svg{top:-5px}
 
.fancybox-enabled {
    overflow: hidden
}

.fancybox-enabled body {
    overflow: visible;
    height: 100%
}

.fancybox-is-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden
}

.fancybox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99993;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.fancybox-container~.fancybox-container {
    z-index: 99992
}

.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.fancybox-outer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.fancybox-bg {
    background: #1e1e1e;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.47, 0, .74, .71)
}

.fancybox-is-open .fancybox-bg {
    opacity: .87;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1)
}

.fancybox-caption-wrap,
.fancybox-infobar,
.fancybox-toolbar {
    position: absolute;
    direction: ltr;
    z-index: 99997;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s, visibility 0s linear .25s;
    box-sizing: border-box
}

.fancybox-show-caption .fancybox-caption-wrap,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar {
    opacity: 1;
    visibility: visible;
    transition: opacity .25s, visibility 0s
}

.fancybox-infobar {
    top: 0;
    left: 50%;
    margin-left: -79px
}

.fancybox-infobar__body {
    display: inline-block;
    width: 70px;
    line-height: 44px;
    font-size: 13px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ddd;
    background-color: rgba(30, 30, 30, .7);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased
}

.fancybox-toolbar {
    top: 0;
    right: 0
}

.fancybox-stage {
    overflow: hidden;
    direction: ltr;
    z-index: 99994;
    -webkit-transform: translateZ(0)
}

.fancybox-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    outline: none;
    white-space: normal;
    box-sizing: border-box;
    text-align: center;
    z-index: 99994;
    -webkit-overflow-scrolling: touch;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.fancybox-slide:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
    display: block
}

.fancybox-slide--image {
    overflow: visible
}

.fancybox-slide--image:before {
    display: none
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
    background: #000
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
    background: #e5e3df
}

.fancybox-slide--next {
    z-index: 99995
}

.fancybox-slide>div {
    display: inline-block;
    position: relative;
    padding: 24px;
    margin: 44px 0;
    border-width: 0;
    vertical-align: middle;
    text-align: left;
    background-color: #fff;
    overflow: auto;
    box-sizing: border-box
}

.fancybox-slide .fancybox-image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 99995;
    background: transparent;
    cursor: default;
    overflow: visible;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fancybox-can-zoomOut .fancybox-image-wrap {
    cursor: zoom-out
}

.fancybox-can-zoomIn .fancybox-image-wrap {
    cursor: zoom-in
}

.fancybox-can-drag .fancybox-image-wrap {
    cursor: -webkit-grab;
    cursor: grab
}

.fancybox-is-dragging .fancybox-image-wrap {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.fancybox-image,
.fancybox-spaceball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: none;
    max-height: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fancybox-spaceball {
    z-index: 1
}

.fancybox-slide--iframe .fancybox-content {
    padding: 0;
    width: 80%;
    height: 80%;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 88px);
    overflow: visible;
    background: #fff
}

.fancybox-iframe {
    display: block;
    padding: 0;
    border: 0;
    height: 100%
}

.fancybox-error,
.fancybox-iframe {
    margin: 0;
    width: 100%;
    background: #fff
}

.fancybox-error {
    padding: 40px;
    max-width: 380px;
    cursor: default
}

.fancybox-error p {
    margin: 0;
    padding: 0;
    color: #444;
    font: 16px/20px Helvetica Neue, Helvetica, Arial, sans-serif
}

.fancybox-close-small {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;
    z-index: 10;
    cursor: pointer
}

.fancybox-close-small:after {
    content: "×";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #888;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    background: #fff;
    transition: background .25s;
    box-sizing: border-box;
    z-index: 2
}

.fancybox-close-small:focus:after {
    outline: 1px dotted #888
}

.fancybox-close-small:hover:after {
    color: #555;
    background: #eee
}

.fancybox-slide--iframe .fancybox-close-small {
    top: 0;
    right: -44px
}

.fancybox-slide--iframe .fancybox-close-small:after {
    background: transparent;
    font-size: 35px;
    color: #aaa
}

.fancybox-slide--iframe .fancybox-close-small:hover:after {
    color: #fff
}

.fancybox-caption-wrap {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 30px 0;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8));
    pointer-events: none
}

.fancybox-caption {
    padding: 30px 0;
    border-top: 1px solid hsla(0, 0%, 100%, .4);
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 20px;
    -webkit-text-size-adjust: none
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
    pointer-events: all
}

.fancybox-caption a {
    color: #fff;
    text-decoration: underline
}

.fancybox-button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: transparent;
    color: #ddd;
    border-radius: 0;
    cursor: pointer;
    vertical-align: top;
    outline: none
}

.fancybox-button[disabled] {
    cursor: default;
    pointer-events: none
}

.fancybox-button,
.fancybox-infobar__body {
    background: rgba(30, 30, 30, .6)
}

.fancybox-button:hover:not([disabled]) {
    color: #fff;
    background: rgba(0, 0, 0, .8)
}

.fancybox-button:after,
.fancybox-button:before {
    content: "";
    pointer-events: none;
    position: absolute;
    background-color: currentColor;
    color: currentColor;
    opacity: .9;
    box-sizing: border-box;
    display: inline-block
}

.fancybox-button[disabled]:after,
.fancybox-button[disabled]:before {
    opacity: .3
}

.fancybox-button--left:after,
.fancybox-button--right:after {
    top: 18px;
    width: 6px;
    height: 6px;
    background: transparent;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor
}

.fancybox-button--left:after {
    left: 20px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.fancybox-button--right:after {
    right: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.fancybox-button--left {
    border-bottom-left-radius: 5px
}

.fancybox-button--right {
    border-bottom-right-radius: 5px
}

.fancybox-button--close:after,
.fancybox-button--close:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 16px;
    top: calc(50% - 1px);
    left: calc(50% - 8px)
}

.fancybox-button--close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.fancybox-button--close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.fancybox-arrow {
    position: absolute;
    top: 50%;
    margin: -50px 0 0;
    height: 100px;
    width: 54px;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
    z-index: 99995;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity .25s
}

.fancybox-arrow:after {
    content: "";
    position: absolute;
    top: 28px;
    width: 44px;
    height: 44px;
    background-color: rgba(30, 30, 30, .8);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 24px 24px
}

.fancybox-arrow--right {
    right: 0
}

.fancybox-arrow--left {
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.fancybox-arrow--left:after,
.fancybox-arrow--right:after {
    left: 0
}

.fancybox-show-nav .fancybox-arrow {
    opacity: .6
}

.fancybox-show-nav .fancybox-arrow[disabled] {
    opacity: .3
}

.fancybox-slide>.fancybox-loading {
    border: 6px solid hsla(0, 0%, 39%, .4);
    border-top: 6px solid hsla(0, 0%, 100%, .6);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -webkit-animation: a .8s infinite linear;
    animation: a .8s infinite linear;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 99999
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, .25, 1)
}

.fancybox-fx-slide.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0
}

.fancybox-fx-slide.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0
}

.fancybox-fx-slide.fancybox-slide--current {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
}

.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
    opacity: 0;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
    opacity: 0
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1
}

.fancybox-fx-rotate.fancybox-slide--previous {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
    opacity: 0
}

.fancybox-fx-rotate.fancybox-slide--next {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 0
}

.fancybox-fx-rotate.fancybox-slide--current {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1
}

.fancybox-fx-circular.fancybox-slide--previous {
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    opacity: 0
}

.fancybox-fx-circular.fancybox-slide--next {
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    opacity: 0
}

.fancybox-fx-circular.fancybox-slide--current {
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    opacity: 1
}

.fancybox-fx-tube.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
    transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg)
}

.fancybox-fx-tube.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
    transform: translate3d(100%, 0, 0) scale(.1) skew(10deg)
}

.fancybox-fx-tube.fancybox-slide--current {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}

@media (max-width:800px) {
    .fancybox-infobar {
        left: 0;
        margin-left: 0
    }
    .fancybox-button--left,
    .fancybox-button--right {
        display: none!important
    }
    .fancybox-caption {
        padding: 20px 0;
        margin: 0
    }
}

.fancybox-button--fullscreen:before {
    width: 15px;
    height: 11px;
    left: calc(50% - 7px);
    top: calc(50% - 6px);
    border: 2px solid;
    background: none
}

.fancybox-button--pause:before,
.fancybox-button--play:before {
    top: calc(50% - 6px);
    left: calc(50% - 4px);
    background: transparent
}

.fancybox-button--play:before {
    width: 0;
    height: 0;
    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-left: 10px solid;
    border-radius: 1px
}

.fancybox-button--pause:before {
    width: 7px;
    height: 11px;
    border-style: solid;
    border-width: 0 2px
}

.fancybox-button--thumbs,
.fancybox-thumbs {
    display: none
}

@media (min-width:800px) {
    .fancybox-button--thumbs {
        display: inline-block
    }
    .fancybox-button--thumbs span {
        font-size: 23px
    }
    .fancybox-button--thumbs:before {
        width: 3px;
        height: 3px;
        top: calc(50% - 2px);
        left: calc(50% - 2px);
        box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, inset 0 0 0 32px, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0
    }
    .fancybox-thumbs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        width: 220px;
        margin: 0;
        padding: 5px 5px 0 0;
        background: #fff;
        word-break: normal;
        -webkit-tap-highlight-color: transparent;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        box-sizing: border-box;
        z-index: 99995
    }
    .fancybox-show-thumbs .fancybox-thumbs {
        display: block
    }
    .fancybox-show-thumbs .fancybox-inner {
        right: 220px
    }
    .fancybox-thumbs>ul {
        list-style: none;
        position: absolute;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 0
    }
    .fancybox-thumbs>ul>li {
        float: left;
        overflow: hidden;
        max-width: 50%;
        padding: 0;
        margin: 0;
        width: 105px;
        height: 75px;
        position: relative;
        cursor: pointer;
        outline: none;
        border: 5px solid transparent;
        border-top-width: 0;
        border-right-width: 0;
        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-sizing: border-box
    }
    li.fancybox-thumbs-loading {
        background: rgba(0, 0, 0, .1)
    }
    .fancybox-thumbs>ul>li>img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    .fancybox-thumbs>ul>li:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        border: 4px solid #4ea7f9;
        z-index: 99991;
        opacity: 0;
        transition: all .2s cubic-bezier(.25, .46, .45, .94)
    }
    .fancybox-thumbs>ul>li.fancybox-thumbs-active:before {
        opacity: 1
    }
}